h1,
h2,
h3,
h4 {
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    z-index: -2;
}

.nav > li,
.navbar-brand {
    font-family: 'Raleway', sans-serif;
}

.navbar {
    border-bottom: 1px solid;
    border-color: white;
}

#myForm {}

#overlay {
    position: fixed;
    height: 350px;
    width: 950px;
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    opacity: 0.7;
    z-index: 1;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -450px;
    margin-top: -175px;
    border: 1px solid;
    border-color: white;
}

#footer {
    background: teal;
    line-height: 1.3;
    text-align: right;
    color: white;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    text-shadow: 0 1px 0 #84BAFF;
    box-shadow: 0 0 15px #00214B;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid;
}