<div>
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="" ui-sref="/">Adventure App</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="" ng-click="openLoginModal($event)">Login</a></li>
                <li><a href="" ng-click="openRegisterModal($event)">Register</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div id="overlay">


            <div clas="row">
                <div class="col-xs-12">
                    <h1>If you could travel anywhere in the world...</h1>
                    <br/>
                    <ul id="flags">
                        <li><img src="images/italy.png" height="90" width="90"></li>
                        <li><img src="images/czech.png" height="100" width="180"></li>
                        <li><img src="images/australia.png" height="90" width="90"></li>
                    </ul>
                    <br/>
                    <h2>... why haven't you yet?</h2>
                </div>
            </div>

        </div>
        <!-- overlay -->
    </div>
    <!-- container -->
    <div ui-view></div>
</div>